---
import '@/styles/global.css'
import '@/styles/index.sass'
import HtmlHead from '@com/BaseTemplate/HtmlHead.astro'
// import Header from '../components/Header.astro'
// import Footer from '../components/Footer.astro'

export interface Props {
  content: {
    title: string
    description: string
  }
}

const {
  content: { title, description },
} = Astro.props
---

<html lang="zh_CN">
  <head>
    <HtmlHead title={title} description={description} />
    <script is:inline id="theme-init">
      const theme = localStorage.getItem('theme')
      if (theme) {
        document.documentElement.dataset.theme = theme
      }
    </script>
  </head>

  <body>
    <slot />
  </body>
</html>
